html {

    background-image: url("/images/bats.gif");
    background-repeat: repeat;
    background-size: 250px 280px;
}



body {

    border: 4px double black;
    width: 1000px;
    margin: 0px auto;
    background-color: white;
    font-size: 20px;
    
}

p {
    font-family: 'Times New Roman', Times, serif;
}

img {
    float: right;
}

h1 {
    color: purple;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    
}

h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.tab {
    display: inline-block;
    margin-left: 100px;
}

.subhead::first-letter {
    font-size: 50px;
}

ul {
    list-style-type: disc;
    padding: 15px;
    list-style-position: inside;
}

ul li .a {
    color: orange
}
ul li .a:hover {
    color: green;
}
 ul li .a:visited {
    color: black;
 }

.NQA {
    font-weight: bold;
}
